@import "bootstrap";

.container {
  .page {
    margin: 20px;
  }
}

.post {
  margin: 20px auto;
  min-height: 50px;
  min-width: 50px;
  display: block;
  border: 1px solid #e6e6e6;

  .username {
    min-height: 40px;
    margin: 10px 20px;
    font-weight: bold;
  }

  .image {
  }
  
  .caption {
    margin: 10px;
  }
}

.modal.show .modal-dialog {
    margin: 0 auto;
}

.modal.fade .modal-dialog {
    transition: initial;
    transform: initial;
}

@media (min-width: 1024px) {
  .modal-dialog {
    max-width: 720px;
  }
}
